@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

body {
    margin: 0;
    font-family: 'Nunito Sans', Arial, sans-serif; /* Promena fonta */
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    margin: 20px;
}

.grid-item {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.news-container {
    display: flex;
    margin-bottom: -10px;
    height: 610px;
}

.news-card {
    flex: 1;
    margin-right: 0;
    position: relative;
}

.news-card:first-child {
    flex: 2;
}

.news-card:last-child {
    margin-right: 0;
}

.news-card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.news-content {
    position: absolute;
    bottom: 20px;
    left: 20px;
    color: white;
}

.news-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0.3) 100%);
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 20px;
    box-sizing: border-box;
    transition: opacity 0.3s ease;
}

.subtitle {
    color: #A9A9A9;
    font-family: "Oswald", sans-serif;
    font-size: 20px;
    font-weight: 600;
    text-shadow: 0 2px 17px rgba(0, 0, 0, 0.25);
    text-transform: uppercase;
    text-align: left;
    margin-bottom: 15px;
}

.title {
    font-size: 35px;
    text-decoration: none;
    font-family: "Oswald", sans-serif;
    text-align: left;
    margin-top: 0px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0; /* Razmak od ostalih elemenata */
}

table th, table td {
    border: 1px solid #ddd;
    padding: 12px; /* Veće unutrašnje margine */
    text-align: center;
}

table th {
    background-color: #3933b3; /* Boja zaglavlja */
    color: white; /* Boja teksta u zaglavlju */
    font-weight: bold;
}

h3 {
    text-align: center;
    color: #333;
}

.btn {
    background-color: #8B0000;
    color: #fff;
    padding: 5px 10px;
    border: none;
    border-radius: 10px;
    text-decoration: none;
    font-family: "Oswald", sans-serif;
    font-size: 0.875rem;
    font-weight: 600;
    text-transform: uppercase;
    cursor: pointer;
    transition: background-color 0.3s ease;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 150px;
    height: 40px;
    line-height: 1;
    text-align: center;
}

.btn:hover {
    background-color: #6B0000;
}

.new-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    margin-top: 50px;
    margin-bottom: 50px;
}

.new-section .news-card {
    flex: 1;
    max-width: 300px;
    min-height: 450px;
    position: relative;
    border-radius: 1rem;
}

.new-section .news-overlay {
    border-radius: 1rem;
}

.new-section .news-card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    border-radius: 1rem;
}

.new-section .subtitle {
    margin-bottom: 5px;
}

.new-section .title {
    font-size: 24px;
}

.section-h3 {
    font-size: 1.375rem;
    color: #991D22;
    text-transform: uppercase;
    font-weight: 600;
    line-height: 1.125rem;
    margin-bottom: 0.8125rem;
    padding-left: 7.1875rem;
}

.section-h2 {
    font-size: 1.375rem;
    color: white;
    text-transform: uppercase;
    font-weight: 600;
    line-height: 1.125rem;
    margin-bottom: 0.8125rem;
    padding-left: 7.1875rem;
}

button {
    background-color: maroon;
    color: white;
    border: none;
    padding: 10px 20px;
    text-transform: uppercase;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.gender-selection {
    margin-bottom: 20px;
  }
  
  .gender-button {
    padding: 10px 20px;
    border: none;
    background-color: #b22222; /* Maroon color */
    color: white;
    cursor: pointer;
    border-radius: 5px;
    margin-right: 10px;
    font-size: 16px;
  }
  
  .gender-button.active {
    background-color: #8b0000; /* Darker maroon for active state */
  }
  

button:hover {
    background-color: red;
}

@media (max-width: 768px) {
    .news-container {
        flex-direction: column;
        height: auto;
    }

    .news-container .btn {
        font-size: 10px;
        padding: 0px 5px;
    }

    .subtitle {
        font-size: 10px;
    }

    .news-container h2 {
        font-size: 16px;
    }

    .new-section .news-card,
    .new-section .news-overlay,
    .new-section .news-card.small,
    .new-section img {
        max-height: 200px;
        min-height: 200px;
    }

    .new-section .subtitle {
        font-size: 10px;
    }

    .new-section h2.title {
        font-size: 16px;
    }

    .new-section .btn {
        font-size: 8px;
        padding: 0px 1px;
    }

    .news-container .news-card:nth-child(2) .title,
    .news-container .news-card:last-child .title {
        font-size: 17px;
    }

    .news-container .news-card:nth-child(2) .btn,
    .news-container .news-card:last-child .btn,
    .new-section .btn {
        font-size: 12px;
        width: 100px;
        height: 30px;
    }

    .new-section {
        flex-direction: column;
        align-items: center;
    }

    .new-section .news-card {
        flex: 0 0 calc(100% - 20px);
        max-width: calc(100% - 20px);
        margin-bottom: 30px;
    }

    .shop-section {
        height: auto;
    }

    .shop-item img {
        max-height: 150px;
    }

    .shop-item {
        margin-top: 5px;
    }

    .shop-items {
        flex-direction: column;
        align-items: center;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    .sponsors {
        display: none;
    }

    .news-container {
        flex-direction: column;
        height: auto;
    }

    .new-section {
        margin-top: 150px !important;
        flex-direction: row;
    }

    .left-section {
        padding: 0px;
    }

    .player-stats .topLeft {
        position: absolute;
        top: 0;
        left: -100px;
    }

    .player-box .stats {
        position: absolute;
        top: 50px;
        left: 0px;
    }

    .player-image img {
        height: 457px;
        bottom: 0rem;
        left: 50%;
        transform: translateX(-50%);
    }

    .player-box .last-name {
        font-size: 68px;
        line-height: 68px;
        z-index: 2;
        top: unset;
        bottom: 40px;
        transform: translateX(-50%);
        left: 50%;
    }

    .player-stats .number {
        font-size: 60px;
        line-height: 60px;
        color: #fff;
        letter-spacing: -4.2px;
        position: absolute;
        right: 10px;
        top: 50px;
        transform: translateY(-60%);
    }

    .shop-section {
        height: auto;
    }

    .shop-item img {
        max-height: 150px;
    }

    .shop-item {
        margin-top: 5px;
        width: 50%;
    }

    .shop-items {
        flex-direction: row;
        align-items: center;
    }
}

@media (min-width: 1024px) and (max-width: 1324px) {
    .shop-section {
        height: auto;
    }

    .shop-item img {
        max-height: 180px;
    }

    .shop-item {
        margin-top: 5px;
        width: 50%;
    }

    .shop-items {
        flex-direction: row;
        align-items: center;
    }

    .player-image img {
        left: 50%;
    }
}

.gender-selection {
    display: flex;
    justify-content: center; /* Centers the buttons horizontally */
    align-items: center; /* Centers the buttons vertically */
    gap: 10px; /* Adds space between the buttons */
    margin: 20px 0; /* Adjusts spacing around the gender selection */
}

.grid-container.seniori {
    display: flex; /* Koristimo flexbox za centriranje */
    justify-content: center; /* Horizontalno centriranje */
    align-items: center; /* Vertikalno centriranje ako je potrebno */
    margin: 20px 0; /* Malo prostora oko kontejnera */
}
