@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

body {
  background-color: #fafafa; /* Bijelkasta boja pozadine */
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: Arial, sans-serif;
  margin: 0;
}

.wrapper {
  margin: 0 10%;
}

.season {
  text-align: center;
  color: #333; /* Tamnosiva boja za naslove */
  font-weight: 400;
}

.team-container {
  display: flex;
  flex-direction: column;
}

.position-group {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-bottom: 20px;
}

.position-group h2 {
  width: 100%;
  text-align: center;
  color: #333; /* Tamnosiva boja za naslove */
  letter-spacing: 2px;
}

.player-card {
  position: relative;
  width: calc(19% - 20px); /* Širina kartice (5 kartica u redu) */
  height: 250px; /* Visina kartice */
  margin: 10px; /* Razmak između kartica */
  border: 2px solid #ddd; /* Svijetlosivi okvir */
  border-radius: 8px; /* Zaobljeni uglovi */
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Blaga sjena ispod kartice */
  background-color: white;
}

.player-card img {
  width: 100%;
  height: 150px; /* Povećana visina slike */
  object-fit: cover; /* Osigurava da slika ispuni cijelu karticu */
  border-radius: 8px 8px 0 0; /* Zaobljeni gornji uglovi */
}

.player-info {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.7); /* Tamna pozadina */
  color: white; /* Bijeli tekst */
  padding: 10px;
  text-align: center;
  font-size: 14px;
  transition: background-color 0.5s ease;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

.player-card:hover .player-info {
  background-color: rgba(0, 0, 0, 0.9); /* Tamnija pozadina na hover */
}

.player-info p {
  margin: 5px 0;
  font-size: 12px; /* Veličina fonta za tekst */
}

.player-info p strong {
  color: #e74c3c; /* Crvenkasta boja za naglašeni tekst */
}

.navigation-buttons-container {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  text-align: center;
}

.navigation-button {
  font-size: 1em;
  font-weight: bold;
  padding: 8px 16px;
  margin: 0 10px;
  background-color: #34495e; /* Tamnoplava za dugmiće */
  color: #fff; /* Bijela boja teksta */
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.5s, box-shadow 0.5s;
  box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.1); /* Blaga sjena */
}

.navigation-button:hover {
  background-color: #e74c3c; /* Crvena boja na hover */
  box-shadow: 2px 6px 8px rgba(0, 0, 0, 0.2);
}

@media only screen and (max-width: 600px) {
  .player-card {
    width: 100%; /* Kartice će zauzimati punu širinu */
  }
  .navigation-button {
    font-size: 6px;
    padding: 5px 10px;
    margin: 0 3px;
  }
}

@media only screen and (min-width: 601px) and (max-width: 1024px) {
  .player-card {
    width: 45%; /* Dvije kartice u redu na srednjim ekranima */
    margin: 2.5%;
  }
  .navigation-button {
    font-size: 8px;
    padding: 10px 20px;
    margin: 0 5px;
  }
}
