<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" crossorigin="anonymous" referrerpolicy="no-referrer" />

<footer class="footer">
    <div class="container">
        <div class="left-section">
            <div class="contact-info">
                <p>Adresa: Obalni bulevar 30 A</p>
                <p>72000 Zenica</p>
                <p>Tel./Fax: + 387 32 83 08 73</p>
                <p>Email: kszenica@kszenica.com</p>
            </div>
        </div>
        <div class="center-section">
            <img src="/images/logo.png" alt="Logo" class="logo">
            <p>© Copyright 2018-2023, Košarkaški savez ZDK</p>
        </div>
        <div class="right-section">
            <h1>KSZDK na drustvenim mrezama</h1>
            <div class="socials">
                <a href="https://www.facebook.com/kosarkazdk" target="_blank" rel="noopener"><i class="fab fa-facebook-f"></i></a>
                <a href="https://www.instagram.com/kosarkaski_savez_zdk/" target="_blank" rel="noopener"><i class="fab fa-instagram"></i></a>
            </div>
        </div>
    </div>
</footer>
