<link rel="icon" type="image/x-icon" href="images/logo.png">
<div class="navbar">
  <div class="navbar-logo">
    <a href="/home">
      <img src="/images/logo.png" alt="NK Celik Logo">
    </a>
  </div>

  <div class="navbar-links">
    <a href="/home">Početna</a>
    <!-- Dropdown za Selekcije -->
    <div class="dropdown">
      <a class="dropbtn" onclick="openDropdown('selekcijeDropdown')" id="selekcijeDropbtn">Selekcije <span class="dropdown-icon">&#9662;</span></a>
      <div class="dropdown-content" id="selekcijeDropdown">
        <a href="/tim">Predpioniri</a>
        <a href="/pioniri">Pioniri</a>
        <a href="/kadeti">Kadeti</a>
        <a href="/juniori">Juniori</a>
      </div>
    </div>
    <!-- Dropdown za Stručni štab -->
    <div class="dropdown">
      <a class="dropbtn" onclick="openDropdown('strucniDropdown')" id="strucniDropbtn">Stručni štab <span class="dropdown-icon">&#9662;</span></a>
      <div class="dropdown-content" id="strucniDropdown">
        <a href="/staff">Komesari</a>
        <a href="/sudije">Sudije</a>
      </div>
    </div>
    
    <% if (typeof user !== 'undefined' && user) { %>
      <% if (user.type === 'admin') { %>
        <a href="/admin">Admin</a>
      <% } else { %>
        <a href="/profil">Profil</a>
      <% } %>
      <a href="/novosti">Novosti</a>
      <a href="/tabele">Tabele</a>
      <a href="/logout">Odjava</a>
    <% } else { %>
      <a href="/novosti">Novosti</a>
      <a href="/tabele">Tabele</a> 
      <a href="/login">Prijava</a>
    <% } %>
  </div>

  <div class="hamburger-menu">&#9776;</div>
  
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="/js/navbar.js"></script>
